{% extends 'layout.html' %}

{% block body %}
<body>
  <section id="about" class="about animated-content">
    <div class="container">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-12 col-md-8 offset-md-2">
            <h1 class="d-block font-weight-bold">ABOUT ME</h1>
            <br>
            <br>
            <h2 class="lead">
              Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology
            </h2>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row g-5">
        <div class="col-md-6">
          <h3 class="mb-3 font-weight-bold text-center">Get to know me!</h3>
          <div class="about__content-details">
            <p>
              I'm a <strong>Frontend Web Developer</strong> building the Front-end of Websites and Web Applications that leads to the success of the overall product. Check out some of my work in the <strong>Projects</strong> section.
            </p>
            <p>
              I also like sharing content related to the stuff that I have learned over the years in <strong>Web Development</strong> so it can help other people of the Dev Community. Feel free to Connect or Follow me on my <a rel="noreferrer" href="https://linkedin.com/in/rammcodes" class="text-warning font-weight-bold" target="_blank">Linkedin</a> where I post useful content related to Web Development and Programming
            </p>
            <p>
              I'm open to <strong>Job</strong> opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't hesitate to <strong>contact</strong> me.
            </p>
          </div>
          <button type="button" class="btn btn-lg btn-warning">Contact</button>
        </div>
        <div class="col-md-6">
          <h3 class="mb-3 font-weight-bold text-center">My Skills</h3>
          <div class="row">
            <div class="my-2">
              <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                HTML
              </button>
              <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                CSS
              </button>
              <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                JavaScript
              </button>
              <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                React
              </button>
              <button type="button" class="btn btn-secondary my-1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                SASS
              </button>
              <button type="button" class="btn btn-secondary my-1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                GIT
              </button>
              <button type="button" class="btn btn-secondary my-1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                Github
              </button>
              <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                Responsive Design
              </button>
              <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                SEO
              </button>
              <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                Terminal
              </button>
              <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                Express Basics
              </button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
</body>

{% endblock %}