{% extends 'layout.html' %}

{% block body %}

<div class="container text-center animated-content">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <h1 class="d-block font-weight-bold">PROJECTS</h1>
      <br>
      <br>
      <h2 class="lead">
        Here you will find some of the personal and clients projects that I created with each project containing its own case study
      </h2>
    </div>
  </div>
</div>

<br>
<br>

<div class="animated-content2">
  <div class="d-flex align-items-center my-5">
    <img src={{ dopefolio }} alt="imagen" class="mr-3 ml-5">
    <div>
      <h3 class="font-weight-bold">Dopefolio</h3>
      <p>Dopefolio is a successful Open-Source project that I created which have been featured on some of the biggest tech sites like CSS-Tricks, Hostinger, etc & used by thousands of developers globally</p>
      <button type="button" class="btn btn-lg btn-warning"><h6 class="font-weight-bold">Case Study</h6></button>
    </div>
  </div>
  <div class="d-flex align-items-center my-5">
    <img src={{ wilsonport }} alt="imagen" class="mr-3 ml-5">
    <div>
      <h3 class="font-weight-bold">Wilsonport</h3>
      <p>Wilsonport is a multiservice logistics and transport company and I created their website from scratch using the frontend tools I know.</p>
      <button type="button" class="btn btn-lg btn-warning"><h6 class="font-weight-bold">Case Study</h6></button>
    </div>
  </div>
  <div class="d-flex align-items-center my-5">
    <img src={{ borealcoffee }} alt="imagen" class="mr-3 ml-5">
    <div>
      <h3 class="font-weight-bold">Boreal Coffee Clone</h3>
      <p>Dopefolio is a successful Open-Source project that I created which have been featured on some of the biggest tech sites like CSS-Tricks, Hostinger, etc & used by thousands of developers globallyI re-created the frontend of Boreal Coffee's official web app because I got attracted to their beautiful UI. It was a great experience for me to build the entire frontend.</p>
      <button type="button" class="btn btn-lg btn-warning"><h6 class="font-weight-bold">Case Study</h6></button>
    </div>
  </div>
  <div class="d-flex align-items-center my-5">
    <img src={{ crowntemplate }} alt="imagen" class="mr-3 ml-5">
    <div>
      <h3 class="font-weight-bold">Crown Template</h3>
      <p>Crown is a web template that I created targeting the restaurant and food industry which anyone can use to present their business online.</p>
      <button type="button" class="btn btn-lg btn-warning"><h6 class="font-weight-bold">Case Study</h6></button>
    </div>
  </div>
</div>
{% endblock %}